.main {
  margin-bottom: 10vh;
}

.container {
  position: relative;
  height: 300vh;
}

@media screen and (max-width : 480px) {
  .container {
    height: 200vh;
  }
}

.stickyMask {
  display: flex;
  /* overflow: hidden; */
  position: sticky;
  height: 100vh;
  top: 0;
  align-items: center;
  justify-content: center;
  mask-image: url('/ms9.svg');
  mask-position: 50.85% center;
  mask-repeat: no-repeat;
  mask-size: 100%;
}

.stickyMask video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}