.line-gradient-title__lottie {
    position: relative;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.svg-path-mirrored {
    transform: scaleX(-1);
}